<% provide(:title, 'Math 136 Summary') %>
<h1>Math 136 Summary</h1>
<h3>Tum Chaturapruek, HMC'14, Fall 2012, Math 136, taught by Prof. Yong</h3>
<hr>
<h4>A corresponding Prezi presentation can be found <a href = "http://prezi.com/nb2bzxa_jq3m/complex-variables/?utm_source=prezi-view&utm_medium=ending-bar&utm_content=Title-link&utm_campaign=ending-bar-tryout"> here </a>.</h4>
<hr>
<p>
 
  <h3>Content</h3>
  <ul>
    <li> <%= link_to "Complex Arithmetic",    complex_arithmetic_path %> </li>
    <li> <%= link_to "Multiple-Valued Function",    multiple_valued_and_calculus_path %> </li>
    <li> <%= link_to "Holomorphic functions, Cauchy-Riemann eqs, complex integration",    holomorphic_path %> </li>
    <li> <%= link_to "Cauchy's theorem and a very important example (VIE)",    cauchy_path %> </li>
    <li> <%= link_to "Power series and Singularities",    power_and_singularities_path %> </li>
    <li> <%= link_to "Residue Calculus",    residue_calculus_path %> </li>
    <li> <%= link_to "Integral Transforms",    integral_transforms_path %> </li>
    <li> <%= link_to "Laplace equation",    laplace_path %> </li>
    <li> <%= link_to "Principal value integrals",    principal_value_path %> </li>
    <li> <%= link_to "Branch points and cuts",    branch_path %> </li>
    <li> <%= link_to "Integrals involving multi-valued functions",    integral_multi_path %> </li>
    <li> Special Topics
    	<ul>
    	<li> <%= link_to "Elliptic functions",    elliptic_path %>, Tum Chaturapruek </li>
    	<li> <%= link_to "Riemann sphere and infinity",    riemann_path %>, Matt McDermott </li>
    	<li> <%= link_to "Summation of Series",    summation_path %>, William Saravia </li>
    	<li> <%= link_to "Log trick",    log_path %>, Tina Woolf </li>
        <li> <%= link_to "Other special topics",    special_path %>, Math 136 students </li>
   		</ul>
    </li>
  </ul>

</p>